<h1>Update Project</h1>

{{#if errorMessages.length}}
	<p>Couldn't create projcet due to:</p>
	<ul>
		{{#each errorMessages}}
			<li>{{this}}</li>
		{{/each}}
	</ul>
{{/if}}


{{#if blog}}

<form action="/blog/update/{{blog.id}}" method="post">
	
	<div>
		Name: <input type="text" name="headline" value="{{blog.headline}}">
	</div>
	
	<div>
		Blog post: <input type="text" name="body" value="{{blog.body}}">
	</div>
    
	<input type="submit" value="update now">
		
</form>


{{else}}
	<p>That blog post dose not exist.</p>
{{/if}}