<h1>Update Project</h1>

{{#if errorMessages.length}}
	<p>Couldn't create projcet due to:</p>
	<ul>
		{{#each errorMessages}}
			<li>{{this}}</li>
		{{/each}}
	</ul>
{{/if}}


<h1>*************************************************</h1>

{{#if blog}}
	<p>Blog id  {{blog.id}}</p>
	<p>Headline {{blog.headline}}</p>
	<p>Created  {{blog.created_date}}</p>
	<p>Updated  {{blog.updated_date}}</p>
	<p>Blog post</p>
	<p>{{blog.body}}</p>
    
<h1>*************************************************</h1>

<form action="/blog/update/{{blog.id}}" method="post">
	
	<div>
		Name: <input type="text" name="headline" value="{{blog.headline}}">
	</div>
	
	<div>
		<p>Blog post</p>
		<input type="text" name="body" value="{{blog.body}}">
	</div>
    
	<input type="submit" value="update now">
		
</form>


{{else}}
	<p>That blog post dose not exist.</p>
{{/if}}