{{#if errorMessages.length}}
  <p>Couldn't fetch the blogs because:</p>
  <ul>
    {{#each errorMessages}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
{{/if}}

{{#if blog}}
  <h1 class="header-large text-center">{{blog.headline}}</h1>
  <div class="projects-container">
    <div class="card">
      <div class="card-header">
        <div class="card-title h5">{{blog.headline}}</div>
        <div class="card-subtitle text-gray">{{blog.body}}</div>
        <div class="card-subtitle text-gray">{{blog.created_date}}</div>
        <div class="card-subtitle text-gray">{{blog.updated_date}}</div>
      </div>
    </div>
  </div>
{{else}}
      <p>The requested blog posts can not be found</p>
{{/if}}
