<h1 class="header-large text-center">Check out the blog posts!</h1>

{{#if errorMessages.length}}
  <p>No projects available because:</p>
  <ul>
    {{#each errorMessages}}
      <li>{{this}}</li>
    {{/each}}
  </ul>

{{else}}

  {{#if errorMessages.length}}
    <p>Couldn't fetch the blogs because:</p>
    <ul>
      {{#each errorMessages}}
        <li>{{this}}</li>
      {{/each}}
    </ul>

  {{/if}}
  <div class="projects-container">
    {{#if blogs.length}}
      <div>
        {{#each blogs}}
          <a href="/blog/{{id}}">
            <div class="card">
              <div class="card-header">
                <div class="card-title h5">{{headline}}</div>
                <div class="card-subtitle text-gray">{{body}}</div>
                <div class="card-subtitle text-gray">{{created_date}}</div>
                <div class="card-subtitle text-gray">{{updated_date}}</div>
              </div>
            </div>
          </a>
        {{/each}}
      </div>
    {{else}}
      <p>No blog posts can be showed right now</p>
    {{/if}}
  </div>
{{/if}}