<h1 class="header-large text-center">Hi admin.</h1>
<h3 class="text-center">You rule this place now</h3>

<a href="/blog/create"><p>Want to add a new blog?</p></a>

<p>Want to update some blogs?</p>

{{#if errorMessages.length}}
  <p>No projects available because:</p>
  <ul>
    {{#each errorMessages}}
      <li>{{this}}</li>
    {{/each}}
  </ul>

{{else}}

  {{#if errorMessages.length}}
    <p>Couldn't fetch the blogs because:</p>
    <ul>
      {{#each errorMessages}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  {{/if}}

  <div class="projects-container">
    {{#if blogs.length}}
      <div>
        {{#each blogs}}

          <div class="card">
            <div class="card-header">
              <div class="card-title h5">{{headline}}</div>
              <div class="card-subtitle text-gray">{{body}}</div>
              <div class="card-subtitle text-gray">{{created_date}}</div>
              <div class="card-subtitle text-gray">{{updated_date}}</div>
            <a href="/blog/update/{{id}}" class="card-subtitle text-primary">Update</a>
            <a href="/blog/delete/{{id}}" class="card-subtitle text-primary">Delete</a>
          </div>

        {{/each}}
      </div>
    {{else}}
      <p>No blogs can be showed right now</p>
    {{/if}}
  </div>
{{/if}}