<h1 class="header-large text-center">About Kajsa</h1>

<p>Here thy be some fanciful information about yours truly. The information is not currently here but we are close to finding it. Thank you for your patience.</p>

<h4>Frequently asked Questions</h4>

{{#if updated}}
  <p>Question added,will be anserd shortly</p>
{{/if}}

 {{#if faq.length}}
      <div>
        {{#each faq}}

          <div class="card">
            <div class="card-header">
              <div class="card-title h5">{{question}}</div>
              <div class="card-subtitle text-gray">{{reply}}</div>
          </div>

        {{/each}}
      </div>
    {{else}}
      <p>No questions can be showed right now</p>
    {{/if}}

<h4>Ask a question!</h4>

{{#if errorMessages.length}}
  <p>Couldn't create projcet due to:</p>
  <ul>
    {{#each errorMessages}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
{{/if}}

<form action="/faq/ask" method="post">

  <div>
    Question:
    <input type="text" name="question" value="{{question}}" />
  </div>

  <input type="submit" value="Create now" />

</form>