<h1 class="header-large text-center">About Kajsa</h1>

<p>Here thy be a fantastic text about the magnificent Kajsa. Here it comes.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae quo
  voluptate omnis voluptatem placeat labore nihil. Tempore voluptate illo illum
  velit vel modi molestias quibusdam cumque culpa earum. Laborum, consectetur!</p>

<h4>Some frequently asked questions</h4>

{{#if faq.length}}
  <div>
    {{#each faq}}
      <div class="card">
        <div class="card-header">
          <div class="card-title h5">{{question}}</div>
          <div class="card-subtitle text-gray">{{reply}}</div>
        </div>
      </div>
    {{/each}}
  </div>
{{else}}
  <p>There are no questions yet, be the first!</p>
{{/if}}

<h4>Ask a question!</h4>

{{#if errorMessages.length}}
  <p>Couldn't create projcet due to:</p>
  <ul>
    {{#each errorMessages}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
{{/if}}

<form action="/faq" method="post">

  <div>
    Question:
    <input type="text" name="question" value="{{question}}" />
  </div>

  <input type="submit" value="Create now" />

</form>

{{#if updated}}
  <p>Question added,will be anserd shortly</p>
{{/if}}