<h1 class="header-large text-center">Hi admin.</h1>
<h3 class="text-center">You rule this place now</h3>

         {{#if faq.length}}
      <div>
        {{#each faq}}

          <div class="card">
            <div class="card-header">
              <div class="card-title h5">{{question}}</div>
              <div class="card-subtitle text-gray">{{reply}}</div>
            <a href="/faq/update/{{id}}" class="card-subtitle text-primary">Update</a>
            <a href="/faq/delete/{{id}}" class="card-subtitle text-primary">Delete</a>
          </div>

        {{/each}}
      </div>
    {{else}}
      <p>No questions can be showed right now</p>
    {{/if}}
