<h1 class="header-large text-center">Check out some projects!</h1>

{{#if errorMessages.length}}
  <p>No projects available because:</p>
  <ul>
    {{#each errorMessages}}
      <li>{{this}}</li>
    {{/each}}
  </ul>

{{else}}

  {{#if errorMessages.length}}
    <p>Couldn't fetch the project because:</p>
    <ul>
      {{#each errorMessages}}
        <li>{{this}}</li>
      {{/each}}
    </ul>

  {{/if}}
  <div class="projects-container">
    {{#if projects.length}}
      <div>
        {{#each projects}}
          <a href="/project/{{id}}">
            <div class="card">
              <div class="card-header">
                <div class="card-title h5">{{name}}</div>
                <div class="card-subtitle text-gray">{{description}}</div>
              </div>
            </div>
          </a>
        {{/each}}
      </div>
    {{else}}
      <p>No projects can be showed right now</p>
    {{/if}}
  </div>
{{/if}}