<h1>Update Project</h1>

{{#if errorMessages.length}}
	<p>Couldn't create projcet due to:</p>
	<ul>
		{{#each errorMessages}}
			<li>{{this}}</li>
		{{/each}}
	</ul>
{{/if}}



{{#if project}}

<form action="/projects/update/{{project.id}}" method="post">
	
	<div>
		Name: <input type="text" name="name" value="{{project.name}}">
	</div>
	
	<div>
		Description: <input type="text" name="description" value="{{project.description}}">
	</div>

    <div>
		Description full: <input type="text" name="description_full" value="{{project.description_full}}">
	</div>

	<div>
		HTML link: <input type="text" name="html_link" value="{{project.html_link}}">
	</div>
	
	<input type="submit" value="update now">
		
</form>


{{else}}
	<p>That project does not exist.</p>
{{/if}}