<h1>This is a header projects</h1>


{{#if errorMessages.length}}
	<p>No projects available because:</p>
	<ul>
		{{#each errorMessages}}
			<li>{{this}}</li>
		{{/each}}
	</ul>
	
{{else}}

    {{#if errorMessages.length}}
        <p>Couldn't fetch the movies because:</p>
        <ul>
            {{#each errorMessages}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
        
    {{/if}}


    <div>
        <h4>titel
        </h4>
        <p>short desc</p>
    </div>


    {{#if projects.length}}
        <ul>
            {{#each projects}}
                    <li>
                        {{id}}
                        
                        <a href="/project/{{id}}">
                            {{name}}
                        </a>
                                                            
                        {{description}}

                        {{description_full}}

                        {{html_link}}

                        <a href="/projects/update/{{id}}"> Update </a>

                      
                    </li>
            {{/each}}
        </ul>   
    {{else}}
        <p> No project </p>
    {{/if}}

{{/if}}

