<h1>Update Project</h1>

{{#if errorMessages.length}}
	<p>Couldn't create projcet due to:</p>
	<ul>
		{{#each errorMessages}}
			<li>{{this}}</li>
		{{/each}}
	</ul>
{{/if}}


<h1>*************************************************</h1>

{{#if project}}
	<p>Project ID {{project.id}}</p>
	<p>Project name {{project.name}}</p>
    <p>Project Descrption </p>
    <p>{{project.description}}</p>

<h1>*************************************************</h1>

<form action="/projects/update/{{project.id}}" method="post">
	
	<div>
		ID: <Input type="text" name="id" value="{{project.id}}" readonly>
	</div>
	
	<div>
		Name: <input type="text" name="name" value="{{project.name}}">
	</div>
	
	<div>
		Description: <input type="text" name="description" value="{{project.description}}">
	</div>

    <div>
		Description full: <input type="text" name="description_full" value="{{project.description_full}}">
	</div>
	
	<input type="submit" value="update now">

	<button onclick="history.back()" value="Cancel">Cancel</button>

	<input type="submit" value="Delete" class="text-error">
	
</form>


{{else}}
	<p>That project does not exist.</p>
{{/if}}